<component name="ArtifactManager">
  <artifact type="war" name="springCloudServer2:war">
    <output-path>$PROJECT_DIR$/eurekaServer2/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springCloudServer2</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springCloudServer2-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springCloudServer2:war exploded" />
    </root>
  </artifact>
</component>